.input_email_send {
    height: 30px;
    width: 200px;
}

.submit-invite {
    width: 80px;
    height: 40px;
    background-color: #4CAF50; /* Màu xanh */
    color: #fff; /* Màu chữ trắng */
    border: 0; /* Bỏ viền */
    border-radius: 8px; /* Cắt viền 8px */
    cursor: pointer; /* Đổi con trỏ khi hover */
    transition: transform 0.2s ease, background-color 0.2s ease; /* Thêm transition cho hiệu ứng rung và màu nền */
  }
.submit-invite.clicked {
    transform: translateY(-5px); /* Di chuyển lên 5px khi được nhấn */
  }